.navbar{
    border-radius: 0px;
    text-align: center;
    font-size: 18px;
}
#logoName{
    margin-top: 25px;

}
a{
    color: #000;
}
a:hover{
    background-color: white;
    color: black;
}
.underNavA:hover{
    color: #990000;

}
.underNavA{
    font-size: 10pt;
    margin-left: 30px;
    color: black;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.underNavP{
    color: black;
    margin-top: 35px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.well
{
    display: flex;
    align-items: center;
    background-color: white;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-top-color:black;
}
.Beg{
    margin-left: 20px;
    margin-top: 20px;
}

.btn-default{
    font-size: 18pt;
    margin-left: 50px;
    background-color: #905bbc;
    border-color:#905bbc ;
    margin-top: 80px;
    margin-bottom: 80px;
}

#BtnColl{background-color: #aeaeae; }
.career7{
    width: 10%;
}
.HOT{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 100px;
    font-size: 16pt;
    background-color: #ff6633;
    color: white;
}
.ULcareer{
    margin-left: -30px;
}
.career7Well{
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
}
.mid{
    margin-top: 15px;
}
.AllVoc{
    background-color: white;
}
.AllVoc:hover{
    background-color: white;
}
.fot{
    background-color:#e8e8e8;
}
.fotColl{
    margin-top: 50px;
}
.footer{
    background-color: #4f4d4e;
    color: white;
}
.contact{
    margin-top: 30px;
}